<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="done('back')" title="Cancel">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Booking Infor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="book()" title="Book">
        <ion-label>Book</ion-label>
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isAvailable" color="light">
  <ion-card class="infor">
    <ion-card-header>
      General Information
    </ion-card-header>
    <ion-item>
      <ion-label>ID</ion-label>
      <ion-text>{{infor.id}}</ion-text>
    </ion-item>
  
    <ion-item>
      <ion-label>Create Date</ion-label>
      <ion-text>{{infor.createAt|date:'yyyy-MMM-dd'}}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Create by</ion-label>
      <ion-text>
        <ion-chip>
          <ion-avatar >
            <img [src]="users['userId'].image">
          </ion-avatar>
          <ion-label>{{users['userId'].name}}</ion-label>
        </ion-chip>
      </ion-text>
    </ion-item>
  
    <ion-item>
      <ion-label>Company</ion-label>
      <ion-text>{{infor.companyId}}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Purpose</ion-label>
      <ion-input [(ngModel)]="infor.purpose"></ion-input>
    </ion-item>
    
    <!-- schedule start -->
    <ion-item button="true" id="schedule-start">
      <ion-label>Schedule Start</ion-label>
      <ion-text slot="end">{{infor.scheduleStart|date:'yyyy-MMM-dd'}}</ion-text>
      <ion-popover trigger="schedule-start" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverschedulestart
            presentation="date"
            (ionChange)="infor.scheduleStart=popoverschedulestart.value"
            >
          </ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
  
    <!-- schedule finish -->
    <ion-item button="true" id="schedule-finish">
      <ion-label>Schedule Finish</ion-label>
      <ion-text slot="end">{{infor.scheduleFinish|date:'yyyy-MMM-dd'}}</ion-text>
      <ion-popover trigger="schedule-finish" show-backdrop="false">
        <ng-template>
          <ion-datetime
            #popoverschedulefinish
            presentation="date"
            (ionChange)="infor.scheduleFinish=popoverschedulefinish.value"
            >
          </ion-datetime>
        </ng-template>
      </ion-popover>
    </ion-item>
  </ion-card>

  <ion-card class="infor">
    <ion-card-header>
      <ion-item lines="none">
        Tools/Jig
        <ion-buttons slot="end">
          <ion-button (click)="pickupTool()">
            <ion-icon name="add-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let tool of infor.scheduleTools">
        <ion-thumbnail slot="start">
          <img  [src]="tool.images.length?(tool.images[0].url?tool.images[0].url:tool.images[0]):'../../../assets/image/no-image.png'">
        </ion-thumbnail>
        <ion-label>
          {{tool.id}}
          <p>{{tool.name}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
