<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="keyword" (ionChange)="update()"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="detail()" title="New">
        <ion-icon name="add-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="option($event)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size-sx="12" size-lg="6" *ngFor="let infor of views" (click)="detail(infor)">
        <ion-item lines="none">
          <ng-container *ngIf="infor.companyId|db:'companies'|async as company">
            <ion-avatar slot="start" *ngIf="infor.userId|db:'users'|async as user">
              <img [src]="user.image">
            </ion-avatar>
            <ion-label>
              [{{infor.scheduleStart|date:'yyyy-MMM-dd'}}] {{company.name}} 
              <p>purpose:{{infor.purpose}}</p>
            </ion-label>
          </ng-container>
          <ion-badge slot="end" [color]="infor.status=='created'?'primary':infor.status=='approved'?'secondary':infor.status=='rejected'?'medium':''">{{infor.status}}</ion-badge>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
