ion-item{
    ion-input{
        text-align: right;
    }
    ion-label{
        color:val(--ion-color-primary)
    }
}

img{
    width: 100%;
    object-fit:cover;
}

img.image-square{
    aspect-ratio: 1;
}

img.image-43{
    aspect-ratio: 4/3;
}

.more-image-text {
    position: absolute;
    font-size: 3rem;
    width: 50%;
    height: 50%;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color: white;
}


ion-card.infor{
    padding:24px 12px;
}