<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="done('back')">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ng-container *ngIf="isOwner">
        <ion-button title="sign out" (click)="signOut()">
          <ion-icon name="log-out"></ion-icon>
        </ion-button>
        <ion-button title="take photo" (click)="takePhoto()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
        <ion-button title="Save" (click)="save()" *ngIf="isChange">
          <ion-icon name="save" ></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isAvailable">
  <!-- image -->
  <div class="image-cover">
    <img [src]="viewImage|url" class=" avatar image-square">
  </div>
  <ion-list class="infor">
    <!-- email -->
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text>{{user.email}}</ion-text>
    </ion-item>
    <!-- name \edit -->
    <ion-item *ngIf="isOwner">
      <ion-label color="primary">Name</ion-label>
      <ion-input [(ngModel)]="user.name" (ionChange)="updateView()"></ion-input>
    </ion-item>
    <!-- name \view -->
    <ion-item *ngIf="!isOwner">
      <ion-label>Name</ion-label>
      <ion-text>{{user.name}}</ion-text>
    </ion-item>
    <!-- company -->
    <ion-item>
      <ion-label>Company</ion-label>
      <ng-container *ngIf="user.companyId|db:'companies'|async as company">
        <img [src]="company.image|url" class="logo">
        <div>{{company.name}}</div>
      </ng-container>
    </ion-item>

    <!-- role -->
    <ion-item>
      <ion-label>Role</ion-label>
      <ion-text>{{user.role}}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Registed at</ion-label>
      <ion-text>{{user.createAt|date:'yyyy-MMM-dd'}}</ion-text>
    </ion-item>
  </ion-list>

</ion-content>