.image-cover{
    display: flex;
    justify-content: center;
    position: relative;
}

img{
    width: 100%;
    object-fit:cover;
}
img.image-square{
    aspect-ratio: 1;
}
img.avatar{
    width: 50%;
    margin: 24px auto;
}
img.logo {
    height: 30px;
    max-width: 100px;
    object-fit: contain;
}


ion-input{
    text-align: right;
}

ion-item{
    ion-label{
        font-weight: bold;
    }
}
