.img-cover{
    display: flex;
    justify-content: center;
    position: relative;
}

img{
    width: 100%;
    object-fit: contain;
}
img.image-square{
    aspect-ratio: 1;
}

ion-input{
    text-align: right;
}

ion-item{
    ion-label{
        font-weight: bold;
    }
}

.image-cover {
    display: flex;
    justify-content: center;
    padding: 24px;
    position: relative;
}