ion-accordion.accordion-expanding,
  ion-accordion.accordion-expanded {
    width: calc(100% - 32px);
    margin: 16px auto;
}

img{
  width: 100%;
}

img.image-43 {
  aspect-ratio: 4/3;
  object-fit: cover;
}

img.avatar{
  aspect-ratio: 1;
  object-fit: cover;
}

ion-card{
  .infor{
    padding: 24px 12px;
  }
  .status-cover {
    padding: 12px;
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

ion-item{
  ion-label{
    font-weight: bold;
  }
  ion-input{
    text-align: right;
  }
}