<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="done('back')">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <ion-label>Back</ion-label>
    </ion-buttons>
    <ion-title>Tool Detail</ion-title>
    <ion-buttons slot="end">
     <ion-button
      *ngFor="let btn of buttons"
      [title]="btn.title?btn.title:btn.name?btn.name:btn.role"
      (click)="btn.handler&&btn.handler();done(btn.role)"
      >
      <ion-icon [name]="btn.icon" [color]="btn.iconColor"></ion-icon>
      <ion-label *ngIf="btn.name">{{btn.name}}</ion-label>
     </ion-button>
     <ion-button (click)="print()">
       <ion-icon name="print"></ion-icon>
     </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="isAvailable">
  <ion-card class="image">
    <ion-grid >
      <ion-row *ngIf="model.images.length<=1">
        <ion-col size="12">
          <img [src]="model.images|url" class="image-43">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="model.images.length==2">
        <ion-col size="6" *ngFor="let image of model.images">
          <img [src]="image|url" class="image-square">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="model.images.length>=3">
        <ion-col size="8">
          <img [src]="model.images[0]|url" class="image-43">
        </ion-col>
        <ion-col size="4" >
          <ion-row>
            <img [src]="model.images[1]|url" class="image-43">
          </ion-row>
          <ion-row class="last">
            <img [src]="model.images[2]|url" class="image-43">
            <div class="more-image-text" *ngIf="model.images.length>3">+{{model.images.length-3}}</div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="infor">
    <ion-list>
      <ion-item>
        <ion-label>Series Number</ion-label>
        <ion-input [(ngModel)]="tool.id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Start Use</ion-label>
        <ion-text>{{tool.startUse|date:'yyyy-MMM-dd'}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Last Maintenace date</ion-label>
        <ion-text>{{tool.lastMaintenance|date:'yyyy-MMM-dd'}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Current stay</ion-label>
        <ion-text>{{tool.stay}}</ion-text>
      </ion-item>
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Status</ion-label>
            <ion-text>
              {{(tool.status.visual&&tool.status.operation&&tool.status.function&&tool.status.compQty)?"NG":"OK"}}
            </ion-text>
          </ion-item>
          <ion-list slot="content">
            <ion-item>
              <ion-label>Visual</ion-label>
              <ion-select [(ngModel)]="tool.status.visual">
                <ion-select-option [value]="pos" *ngFor="let stt of visualStatus;let pos=index">{{stt}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>operation</ion-label>
              <ion-select [(ngModel)]="tool.status.operation">
                <ion-select-option [value]="pos" *ngFor="let stt of operationStatus;let pos=index">{{stt}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>function</ion-label>
              <ion-select [(ngModel)]="tool.status.function">
                <ion-select-option [value]="pos" *ngFor="let stt of functionStatus;let pos=index">{{stt}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>compQty</ion-label>
              <ion-select [(ngModel)]="tool.status.compQty">
                <ion-select-option [value]="pos" *ngFor="let stt of compQtyStatus;let pos=index">{{stt}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
  </ion-card>
  
</ion-content>
