<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="done('back')">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Box Infor</ion-title>
    <ion-buttons slot="end">
      <ion-button title="Delete" (click)="delete()" >
        <ion-icon name="trash" ></ion-icon>
      </ion-button>
      <ion-button title="update status" (click)="detailStatus()">
        <ion-icon name="color-wand-outline"></ion-icon>
      </ion-button>
      <ion-button title="Save" (click)="save()" *ngIf="isChange" >
        <ion-icon name="save" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isAvailble" color="light">
  <ion-card class="image">
    <ion-grid (click)="detailImage()">
      <ion-row *ngIf="viewImages.length<=1">
        <ion-col size="12">
          <img [src]="viewImages|url" class="image-43">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="viewImages.length==2">
        <ion-col size="6" *ngFor="let image of viewImages">
          <img [src]="image|url" class="image-square">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="viewImages.length>=3">
        <ion-col size="8">
          <img [src]="viewImages[0] |url" class="image-43">
        </ion-col>
        <ion-col size="4" >
          <ion-row>
            <img [src]="viewImages[1]|url" class="image-43">
          </ion-row>
          <ion-row class="last">
            <img [src]="viewImages[2]|url" class="image-43">
            <div class="more-image-text" *ngIf="viewImages.length>3">+{{viewImages.length-3}}</div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="infor">
    <ion-list>
      <ion-item *ngIf="isNew">
        <ion-label>ID</ion-label>
        <ion-input [(ngModel)]="cover.id"></ion-input>
      </ion-item>
      <ion-item *ngIf="!isNew">
        <ion-label>ID</ion-label>
        <ion-text>{{cover.id}}</ion-text>
        <ion-icon name="qr-code" slot="end" (click)="print($event)"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-label>Part Name</ion-label>
        <ion-input [(ngModel)]="cover.name"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label>Category</ion-label>
         <ion-select [(ngModel)]="cover.group">
           <ion-select-option [value]="key" *ngFor="let key of groups">{{key}}</ion-select-option>
         </ion-select>
      </ion-item>
      <ion-item button (click)="pickupCover()">
        <ion-label>Parents</ion-label>
        <ion-text> {{cover.upper?cover.upper.name:'select parents'}}</ion-text>
      </ion-item>
      <ion-item button (click)="selectCompany()">
        <ion-label>Stay</ion-label>
        <ng-container *ngIf="cover.stay;else nocompany">
          <ion-chip>
            <ion-avatar>
              <img [src]="cover.stay.image|url">
            </ion-avatar>
            <ion-label>{{cover.stay.name}}</ion-label>
          </ion-chip>
        </ng-container>
        <ng-template #nocompany><i>(select company)</i></ng-template>
      </ion-item>

      <ion-item>
        <ion-label>Address</ion-label>
        <ion-text>{{addr}}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Note</ion-label>
         <ion-textarea [(ngModel)]="cover.comment"></ion-textarea>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Quantity</ion-label>
             <ion-text>{{cover.childrenId.length}}</ion-text>
          </ion-item>

          <div slot="content">
            <ion-item lines="none">
              <ion-buttons slot="end">
                <ion-button (click)="addChild()" *ngIf="!sChildren.length">
                  <ion-icon color="secondary" name="add-circle"></ion-icon>
                </ion-button>
                <ion-button (click)="removeChild()" *ngIf="sChildren.length">
                  <ion-icon color="danger" name="trash"></ion-icon>
                </ion-button> 
              </ion-buttons>
            </ion-item>

            <ion-item *ngFor="let child of children" >
              <ion-thumbnail slot="start">
                <img [src]="child.images|url:0:'thumb'" loading="lazy">
              </ion-thumbnail>
              <ion-label (click)="detail(child)">
                {{child.id}}<p>{{child.name}}</p>
              </ion-label>
              <ion-buttons slot="end">
                <ion-checkbox (click)="selectChild(child)"></ion-checkbox>
              </ion-buttons>
            </ion-item>

          </div>
        </ion-accordion>

        <!-- inspection items -->
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Inspection items</ion-label>
            <ion-text>{{cover.statusList}}</ion-text>
          </ion-item>
          <div slot="content">
            <ion-chip color="primary" *ngFor="let item of cover.statusList;let pos=index" (click)="addProperty(pos,'rem')">
              <ion-label>{{item}}</ion-label>
              <ion-icon color="danger" name="close-circle-outline"></ion-icon>
            </ion-chip>
            <ion-card>
              <ion-chip color="primary" *ngFor="let item of statusList;let pos=index" (click)="addProperty(pos,'add')">
                <ion-label>{{item}}</ion-label>
                <ion-icon color="secondary" name="add-circle-outline"></ion-icon>
              </ion-chip>
            </ion-card>
          </div>
        </ion-accordion>
        <!-- status -->
        <ion-item button="true" (click)="detailStatus(lastRecord)">
          <ion-label>Status</ion-label>
          <div *ngIf="lastRecord;else norecord">
            <ion-text>
              {{lastRecord.createAt|date:'yyyy-MMM-dd HH:mm'}}
            </ion-text>
            <ion-badge slot="end">{{lastRecord.data[0].status|status}}</ion-badge>
          </div>
          <ng-template #norecord>Not yet</ng-template>
        </ion-item>
        <!-- histories -->
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Histories </ion-label>
            <ion-badge slot="end" *ngIf="histories && histories.length">{{histories.length}}</ion-badge>
          </ion-item>
          <div  slot="content" class="history-wrap">
            <div class='history-container' *ngFor="let history of histories">
              <div class="history-header">[{{history.createAt|date:'yyyy-MMM-dd'}}] </div>
              <ul class="history-body" *ngFor="let update of history.updateList">
                <li>{{update.type}} <b>{{update.key}}</b>: from '<b>{{update.oldVal}}'</b> to '<b>{{update.newVal}}</b>'</li>
              </ul>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
  </ion-card>
</ion-content>