<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="done('cancel')">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Cover Infor</ion-title>
    <ion-buttons slot="end">
      <ion-button
        *ngFor="let btn of buttons"
        [title]="btn.title?btn.title:btn.name?btn.name:btn.role"
        (click)="done(btn.role)"
        >
        <ion-icon [name]="btn.icon" [color]="btn.iconColor"></ion-icon>
        <ion-label *ngIf="btn.name">{{btn.name}}</ion-label>
      </ion-button>
      <ion-button (click)="print()">
        <ion-icon name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isAvailble" color="light">
  <ion-card class="image">
    <ion-grid (click)="detailImage()">
      <ion-row *ngIf="viewImages.length<=1">
        <ion-col size="12">
          <img [src]="viewImages|url" class="image-43">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="viewImages.length==2">
        <ion-col size="6" *ngFor="let image of viewImages">
          <img [src]="image|url" class="image-square">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="viewImages.length>=3">
        <ion-col size="8">
          <img [src]="viewImages[0] |url" class="image-43">
        </ion-col>
        <ion-col size="4" >
          <ion-row>
            <img [src]="viewImages[1]|url" class="image-43">
          </ion-row>
          <ion-row class="last">
            <img [src]="viewImages[2]|url" class="image-43">
            <div class="more-image-text" *ngIf="viewImages.length>3">+{{viewImages.length-3}}</div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="infor">
    <ion-list>
      <ion-item>
        <ion-label>ID</ion-label>
        <ion-input [(ngModel)]="cover.id"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Part Name</ion-label>
        <ion-input [(ngModel)]="cover.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
         <ion-input [(ngModel)]="cover.group"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Parents</ion-label>
        <ion-text> {{cover.upperId}}</ion-text>
        <ion-icon slot="end" name="chevron-forward" (click)="pickupCover()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Note</ion-label>
         <ion-textarea [(ngModel)]="cover.note"></ion-textarea>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Quantity</ion-label>
             <ion-text>{{cover.childrenId.length}}</ion-text>
          </ion-item>

          <div slot="content">
            <ion-item lines="none">
              <ion-buttons slot="end">
                <ion-button (click)="addChild()">
                  <ion-icon color="secondary" name="add-circle"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
            <ion-item *ngFor="let child of children">
              <ion-thumbnail slot="start">
                <img [src]="child.images|url">
              </ion-thumbnail>
              <ion-label (click)="detail(child)">
                {{child.id}}<p>{{child.name}}</p>
              </ion-label>
            </ion-item>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
  </ion-card>
</ion-content>