ion-button.center{
    text-align: center;
    border-radius: 5px;
}

ion-card{
    margin-top: 15vh;
    padding: 24px;
    min-width: 512px !important;
    border-radius: 5px;
}

ion-list{
    margin-top: 12px;
}

ion-title.header{
    text-align: center;
    padding: 12px;
    // font-size: 1.5rem;
}
ion-label{
    min-width: 100px !important;
}

div.center{
    margin-top: 24px;
    width: 100%;
    text-align: center;
}
