<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="key" (ionChange)="update()"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="detailModel()" title="New Tool Infor">
        <ion-icon name="hammer"></ion-icon>
      </ion-button>
      <ion-button (click)="detailCover()" title="New cover">
        <ion-icon name="clipboard"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  color="light">
  <ion-grid>
    <ion-row class="fix">
      <ion-col size="12">
        <ion-accordion-group >
          <ion-accordion *ngFor="let view of views">
            <ion-item slot="header">
              {{view.group}}<ion-badge>{{view.models.length}}</ion-badge>
            </ion-item>
            <ion-list slot="content">
              <ion-item (click)="detail(model)" *ngFor="let model of view.models">
                <ion-thumbnail slot="start">
                  <img [src]="model.images |url">
                </ion-thumbnail>
                <ion-label [color]="model.type=='cover'?'secondary':'primary'">
                  {{model.name}}
                </ion-label>
               </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="!views.length">
    No data
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="start">
  <ion-fab-button (click)="scan()">
    <ion-icon name="scan-circle-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>