ion-searchbar{
    --box-shadow: none;
    --border-radius:10px;
}

ion-accordion.accordion-expanding,
  ion-accordion.accordion-expanded {
    width: calc(100% - 32px);
    margin: 16px auto;
  }

ion-row.fix{
  display: flex;
  justify-content: center;
}

ion-grid{
  max-width: 720px !important;
}