<ion-header>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="key" (ionChange)="update()"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="test_showmenu($event)">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group>
    <ion-accordion [value]="view.group" *ngFor="let view of views;let vpos=index">
      <ion-item slot="header" color="light">
        <ion-label>
          {{view.group}}
          <ion-badge slot="end">{{view.models.length}}</ion-badge>
        </ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let model of view.models;let mpos=index" (click)="showDetail(model.model)">
          <ion-thumbnail slot="start">
            <img [src]="model.model.images[0]">
          </ion-thumbnail>
          <ion-label>
            {{mpos+1}}. {{model.model.name}} 
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed" >
  <ion-fab-button >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="showDetail()">
      <ion-icon name="hammer-outline"></ion-icon>
    </ion-fab-button>
    <ion-label>Tool</ion-label>

    <ion-fab-button (click)="addCatelogy()">
      <ion-icon name="pricetags-outline"></ion-icon>
    </ion-fab-button>
    <ion-label>Category</ion-label>

  </ion-fab-list>
</ion-fab>
