<!-- header -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="done(false)">
        <ion-icon name="chevron-back-outline"></ion-icon>
        <ion-label>Back</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>{{isNew?'new':model.id}}</ion-title>

    <ion-buttons slot="end">
      <div *ngIf="isEdit">
        <ion-button>
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon color="danger" name="trash-outline"></ion-icon>
        </ion-button>
      </div>
      <ion-button (click)="duplicate()">
        <ion-icon name="duplicate-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="isEdit=!isEdit" >
        <ion-icon [name]="isEdit?'book-outline':'create-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- content -->
<ion-content>

  <!-- edit page -->
  <ion-list *ngIf="isEdit">
    <ion-item>
      <ion-label>id</ion-label>
      <ion-text *ngIf="!isNew">{{model.id?model.id:'(new)'}}</ion-text>
      <ng-container *ngIf="isNew">
        <ion-input placeholder="(new)" [(ngModel)]="model.id"></ion-input>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="qr-code"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ng-container>
    </ion-item>
    
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input [(ngModel)]="model.name"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Group</ion-label>
      <ion-select [(ngModel)]="model.group">
        <ion-select-option [value]="group" *ngFor="let group of groups">{{group}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Maintenance Period</ion-label>
      <ion-input [(ngModel)]="model.maintenance" type="number"></ion-input>
    </ion-item>

    <ion-item (click)="isDetail=!isDetail"> 
      <ion-label>Quantity</ion-label>
      <ion-text >{{tools.length}}</ion-text>
      <ion-icon slot="end" [name]="isDetail?'chevron-up-outline':'chevron-down-outline'"></ion-icon>
    </ion-item>
    <!-- detail tools -->
    <ion-grid *ngIf="isDetail">
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-button (click)="detail()">
              <ion-icon name="add-outline"></ion-icon>
              <ion-label>New</ion-label>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let tool of tools" (click)="detail(tool)">
          <ion-label class="link">{{tool.id}}</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- image -->
    <ion-grid>
      <ion-row>
        <ion-col >
          <img [src]="model.image">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>


  <!-- view page -->
  <ion-list *ngIf="!isEdit">
    <ion-item>
      <ion-label>id</ion-label>
      <ion-text>{{model.id?model.id:'(new)'}}</ion-text>
    </ion-item>
    
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-text>{{model.name}}</ion-text>
    </ion-item>
    
    <ion-item>
      <ion-label>Group</ion-label>
      <ion-text>{{model.group}}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Maintenance Period</ion-label>
      <ion-text>{{model.maintenance}}</ion-text>
    </ion-item>

    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header"> 
          <ion-label>Quantity</ion-label>
          <ion-text >{{tools.length}}</ion-text>
        </ion-item>

        <ion-grid slot="content">
          <ion-row>
            <ion-col *ngFor="let tool of tools" (click)="detail(tool)" class="poiter">{{tool.id}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-accordion>
    </ion-accordion-group>
    <!-- image -->
    <ion-grid>
      <ion-row>
        <ion-col >
          <img [src]="model.image">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>
