<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="done('back')">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tool Information</ion-title>
    <ion-buttons slot="end">
      <ng-container *ngIf="isEdit">
        <ion-button (click)="save()" *ngIf="isChange">
          <ion-icon name="save"></ion-icon>
        </ion-button>
        <ion-button (click)="duplicate()" title="Duplicate">
          <ion-icon name="duplicate"></ion-icon>
        </ion-button>
        <ion-button (click)="delete()" title="delete">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ng-container>
      <ion-button (click)="isEdit=!isEdit">
        <ion-icon [name]="isEdit?'book':'create'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" >
  <ion-card (click)="showImage()">
    <ion-grid>
      <ion-row *ngIf="!model.images.length">
        <ion-col>
          <img src="./../../../assets/image/no-image.png" class="image-169">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="model.images.length==1">
        <ion-col>
          <img [src]="model.images[0]" class="image-169">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="model.images.length==2">
        <ion-col>
          <img [src]="model.images[0]" class="image-square">
        </ion-col>
        <ion-col>
          <img [src]="model.images[1]" class="image-square">
        </ion-col>
      </ion-row>

      <ion-row *ngIf="model.images.length>=3">
        <ion-col size="8">
          <img [src]="model.images[0]" class="image-square">
        </ion-col>
        <ion-col size="4" offset="0">
          <ion-row >
            <ion-col>
              <img [src]="model.images[1]" class="image-square">
            </ion-col>
          </ion-row>
          <ion-row >
            <ion-col>
              <img [src]="model.images[2]" class="image-square last">
              <div class="image-more" *ngIf="model.images.length>3">{{model.images.length-3}}</div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- information -->
  <ion-list >
    <!-- edit page -->
    <ng-container *ngIf="isEdit">
      <ion-item>
        <ion-label color="primary">Part No</ion-label>
        <ion-input [(ngModel)]="model.id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Part Name</ion-label>
        <ion-input [(ngModel)]="model.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Category</ion-label>
        <ion-input [(ngModel)]="model.group"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Maintenance Period [day]</ion-label>
        <ion-input [(ngModel)]="model.maintenance"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Comp Qty[pcs]</ion-label>
        <ion-input [(ngModel)]="model.comQty"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Quantity [pcs]</ion-label>
        <ion-text>{{tools.length}}</ion-text>
      </ion-item>
    </ng-container>
    <!-- view page -->
    <ng-container *ngIf="!isEdit">
      <ion-item>
        <ion-label>Part No</ion-label>
        <ion-text>{{model.id}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Part Name</ion-label>
        <ion-text >{{model.name}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-text >{{model.group}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Maintenance Period [day]</ion-label>
        <ion-text >{{model.maintenance}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Comp Qty[pcs]</ion-label>
        <ion-text >{{model.comQty}}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Quantity [pcs]</ion-label>
        <ion-text>{{tools.length}}</ion-text>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>