<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="done('cancel')">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Tool Infor</ion-title>
    <ion-buttons slot="end">
      <ion-button title="delete" (click)="delete()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button title="save" (click)="save()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isAvailble" color="light">
  <ion-card class="image">
    <ion-grid (click)="detailImage()">
      <ion-row *ngIf="viewImages.length<=1">
        <ion-col size="12">
          <img [src]="viewImages|url" class="image-43">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="viewImages.length==2">
        <ion-col size="6" *ngFor="let image of viewImages">
          <img [src]="image |url" class="image-square">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="viewImages.length>=3">
        <ion-col size="8">
          <img [src]="viewImages[0]|url" class="image-43">
        </ion-col>
        <ion-col size="4" >
          <ion-row>
            <img [src]="viewImages[1]|url" class="image-43">
          </ion-row>
          <ion-row class="last">
            <img [src]="viewImages[2]|url" class="image-43">
            <div class="more-image-text" *ngIf="viewImages.length>3">+{{viewImages.length-3}}</div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="infor">
    <ion-list>
      <ion-item>
        <ion-label>Part No</ion-label>
        <ion-input [(ngModel)]="model.id"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Part Name</ion-label>
        <ion-input [(ngModel)]="model.name"></ion-input>
      </ion-item>
      <ion-item >
        <ion-label>Category</ion-label>
         <ion-select [(ngModel)]="model.group" (ionChange)="selectGroup()"> 
           <ion-select-option [value]="group" *ngFor="let group of groups">{{group}}</ion-select-option>
           <ion-select-option value="">(new)</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Maintenace Period</ion-label>
         <ion-input [(ngModel)]="model.maintenance"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Meno</ion-label>
         <ion-textarea [(ngModel)]="model.note"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Comp Qty</ion-label>
         <ion-input [(ngModel)]="model.compQty"></ion-input>
      </ion-item>
      <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header">
            <ion-label>Quantity</ion-label>
             <ion-text>{{tools.length}}</ion-text>

          </ion-item>
          <div slot="content">
            <ion-item lines="none">
              <ion-buttons slot="end">
                <ion-button (click)="detail()">
                  <ion-icon color="primary" name="add-circle"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
            <ion-chip 
              color="primary" 
              *ngFor="let tool of tools" 
              (click)="detail(tool)"
              >
              {{tool.id}}
            </ion-chip>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
  </ion-card>
</ion-content>