<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="done('back')">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-searchbar [(ngModel)]="keyword" (ionChange)="update()" >
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="showCart($event)">
        <ion-icon name="cart"></ion-icon>
        <ion-label>{{carts.length}}</ion-label>
      </ion-button>
      <ion-button (click)="done()">
        <ion-icon name="checkmark-done-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-accordion-group>
    <ion-accordion *ngFor="let view of views">
      <ion-item slot="header">
        <ion-label>{{view.group}}</ion-label>
        <ion-badge>{{view.models.length}}</ion-badge>
      </ion-item>
      <ion-accordion-group slot="content">
        <ion-accordion *ngFor="let model of view.models">
          <ion-item slot="header">
            <ion-thumbnail slot="start">
              <img [src]="model.images.length?(model.images[0].url?model.images[0].url:model.images[0]):'../../../assets/image/no-image.png'">
            </ion-thumbnail>
            <ion-label>
              {{model.name}}
              <ion-badge>{{model.childrenId.length}}</ion-badge>
            </ion-label>
          </ion-item>
          <div slot="content">
            <ion-chip color="primary" *ngFor="let child of model.childrenId" (click)="pickup(child)">
              {{child.id}}
            </ion-chip>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
