<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="done('cancel')">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>Cancel</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>camera</ion-title>
    <ion-buttons slot="end">

      <ion-button (click)="turnImage()">
        <ion-icon name="reload"></ion-icon>
      </ion-button>

      <ion-button (click)="done('ok')">
        <ion-icon name="save"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <image-cropper 
    [imageBase64]="image"
    [maintainAspectRatio]="fix" 
    [aspectRatio]="aspectRatio"
    format="jpeg"
    (imageCropped)="imageCropped($event)" 
    (imageLoaded)="imageLoaded()" 
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
    [canvasRotation]="rotation"
    [transform]="transform"
  >
  </image-cropper>
</ion-content>