ion-list.infor{
    font-size: 0.7rem;
}

ion-card{
    // padding: 12px;
    margin: 5px;
    min-height: 190px;
}



ion-icon{
    margin-right: 12px;
    font-size: 1.5rem !important;
}

ion-col.infor{
    // display: flex;
    // justify-content: center;
    max-width: 600px !important;
    margin: 5px;
}

ion-col.image{
    display: flex;
    justify-content: center;
}

ion-col img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}
ion-row{
    display: flex;
    justify-content: center;
}

ion-row.content{
    padding: 10px;
}

ion-content{
    user-select: text;
}

ion-searchbar{
    --box-shadow: none;
    --border-radius:10px;
}